{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="with=device-width, initial-scale=1.0">
     <link rel="stylesheet"  href="{% static 'homepagecss/css/aboutstyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500;1,700&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
<style>
.about{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("{% static 'images/about.jpg' %}");
    background-position: center;
    background-size: cover;
    position: relative;
}
</style>
    <section class="about">
        <h4>About Us</h4>
        <p>This is one of the best school in India. gdfg sfgsdf sdf sdfg<br> sdfg sdfg sfg sfg sdfg sdfg sdfg sfdg fdg artart</p>
    </section>
</body>
</html>